# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
.gitignore
initrepository.bat
src/settings.py

src/static/vendors/*
!src/static/vendors/jquery/dist
!src/static/vendors/bootstrap/dist
!src/static/vendors/jstree/dist
!src/static/vendors/dataTables/
!src/static/vendors/chosen


